.product-form {
  input {
    width: 2rem;
    padding: 0.3rem;
    border: 0;
    &:focus {
      outline: 0;
    }
  }
  button {
    background: #4c8139;
    border: #4c8139;
    border-radius: 0.2rem;
    padding: 0.4rem;
    color: #fff;
    cursor: pointer;
  }
}
